{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile/updateInfor.css') }}">
{% endblock %}
{% block body %}
    <div class="block-change-pass">
        {{ form_start(changes_password) }}
        {{form_row(changes_password.password,{'full_name':'password'})}}
        {{form_row(changes_password.new_password.first,{'full_name':'newPassword'})}}
        {{form_row(changes_password.new_password.second,{'full_name':'confirmPassword'})}}
        {{ form_end(changes_password) }}
        {% if error %}
            <div class="message-change-password-success" style="color: red; text-align: center;">{{ message }}</div>
        {% else %}
            <div class="message-change-password-error" style="color: green; text-align: center;">{{ message }}</div>
        {% endif %}
    </div>
{% endblock %}