{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="root-body-profile">
        {{ include('profile/viewAvatar.html.twig') }}
        {{ include('profile/changeAvatarProfile.html.twig') }}
        {{ include('profile/newPostTable.html.twig') }}
        {{ include('profile/confirmDeletePostProfile.html.twig') }}
        {{ include('profile/confirmUnfriendProfile.html.twig') }}
        {{ include('profile/reportPost.html.twig') }}
        {{ include('profile/profileLeft.html.twig') }}
        {{ include('profile/profileMain.html.twig') }}
    </div>
{% endblock %}
