{% block profile_Left %}
<div class="profile-Left">
    <div class="header-profile">
        <div class="avatar-profile">
            <img src="{{ asset('image/avatar/avatar.jpg') }}" alt="">
            <div id="btn_change_avatar_profile" data-bs-toggle="modal" data-bs-target="#change_avatar_model">Change avatar</div>
        </div>
        <div class="short-information-profile">
            <div class="user-name-profile">
                <h4>{{ inforUser[0].fullname }}</h4>
            </div>
            <div class="infor-profile-item" id="count-posts"><p>Pots: {{ inforUser[0].total_post }}</p></div>
            <div class="infor-profile-item" id="count-friend"><p>Friends: {{ inforUser[0].total_friend }}</p></div>
        </div>
        {% if inforUser[0].id != app.user.id %}
            <div class="infor-profile-item" id="add-friend" data-id-user="{{ inforUser[0].id }}"><p>Add friend</p></div>
        {% endif %}
    </div>
    <div class="detail-information">
        {% if inforUser[0].id == app.user.id %}
        <div class="btn-new-post" data-bs-toggle="modal" data-bs-target="#new_post_model">
            <p>New Post</p><i class="bi-file-earmark-plus"></i>
        </div>
        <a href="/profile/updateInformation">
            <div class="btn-setting-profile">
                <p>Update Information</p><i class="bi-gear"></i>
            </div>
        </a>
        {% endif %}
        <hr>
        <div class="block-information-profile">
            <div class="detail-infor-item">Phone: {{ inforUser[0].phone }}</div>
            <div class="detail-infor-item">Gender: {{ (inforUser[0].gender == 0) ? 'male' : 'female' }}</div>
            <div class="detail-infor-item">Birthday: {{ inforUser[0].birthdate }}</div>
            <div class="detail-infor-item">Address: {{ inforUser[0].address  }}</div>
            <div class="detail-infor-item">Email: {{ inforUser[0].email }} </div>
        </div>
    </div>
</div>
{% endblock %}