<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>
    <link rel="icon" href="{{ asset('image/decorate/logo.png') }}" sizes="128x128">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/loginAndRegister/Login.css') }}">
    {% endblock %}
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ asset('js/loginAndRegister/loginAndRegister.js') }}"></script>
    {% endblock %}
</head>
<body>
<div class="brand">
    <div class="brand-logo animation-brand-logo"></div>
    <div class="sub-description"></div>
    <div class="brand-text-login"></div>
</div>
<div class="login">
    <h2 class="title-login active"> sign in </h2>
    <h2 class="title-sign-up">sign up</h2>
    <div class="login-form">
        {{ form_start(Login) }}
        {{ form_row(Login.username, {'full_name': 'username'}) }}
        {{ form_row(Login.password, {'full_name': 'password'}) }}
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        {{ form_end(Login) }}
        {% if errorLogin %}
            <div class="alert alert-danger" style="color: yellow;transform: translate(8rem, 1rem);     width: fit-content;">
                {{ errorLogin.message }}
            </div>
        {% endif %}
    </div>
    <div class="register-form">
        {{ form_start(Register, {'action': path('app_registration'), 'method':'POST', 'attr': {'id':'register_form'}}) }}
        {{ form_end(Register) }}
            <div class="alert alert-danger" id="error_register_form" style="color: yellow;transform: translate(3rem, 1rem); width: fit-content;">
                {{ errorRegister }}
            </div>
    </div>
</div>
</body>
{%  block subjavascript %}
    {% if errorRegister %}
        <script>
            $(document).ready(function (){
                $('.title-sign-up').click();
            })
        </script>
    {% endif %}
{% endblock %}
</html>
