<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="icon" href="{{ asset('image/decorate/logo.png') }}" sizes="128x128">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/admin/dashboardAdmin.css') }}">
        <link rel="stylesheet" href="{{ asset('css/admin/bodyAdmin.css') }}">
        <link rel="stylesheet" href="{{ asset('css/admin/reportPage.css') }}">
        <link rel="stylesheet" href="{{ asset('css/loginAndRegister/Login.css') }}">
        <link rel="stylesheet" href="{{ asset('css/admin/collaborators.css') }}">
    {% endblock %}
</head>
<body>
<div class="root-admin">
    {% block dashboard %}
        <div class="dashboard-admin">
            <div class="header-dashboard">
                <h4>Dashboard</h4>
            </div>
            <div class="body-dashboard">
                <a href="/statificalManager">
                    <div class="item-controll-dashboard" id="statifical_item">Statifical
                        <div class="icon-item-dashboard"><i class="bi-graph-up-arrow"></i></div>
                    </div>
                </a>
                <a href="/reportManager">
                    <div class="item-controll-dashboard" id="report_item">Report
                        <div class="icon-item-dashboard"></div> <i class="bi-flag-fill"></i>
                    </div>
                </a><a href="/registrationAdmin">
                    <div class="item-controll-dashboard" id="collaborators_item">New collaborators
                        <div class="icon-item-dashboard"></div> <i class="bi-person-plus"></i>
                    </div>
                </a>
                <a href="/home">
                    <div class="item-controll-dashboard" id="report_item">Back Home
                        <div class="icon-item-dashboard"></div> <i class="bi-house"></i>
                    </div>
                </a>
            </div>
        </div>
    {% endblock %}
    {% block body %}

    {% endblock %}
</div>
</body>
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ asset('js/admin/admin.js') }}"></script>
{% endblock %}
</html>
