{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
{#    {{ include('admin/report/reportDetailTable.html.twig') }}#}
    <div class="admin-report">
        <div class="admin-report-header">
            <div class=""><p>Report from user: {{ totalReport[0].total_report }}</p></div>
            <div class="tilte-index-header">
              <div class="item-tilte-index-header" style="background-color: gray">Id</div>
              <div class="item-tilte-index-header" style="background-color: green; margin-right: 13rem;">Accuser</div>
              <div class="item-tilte-index-header" style="background-color: red; margin-right: 11rem;">Accusered</div>
              <div class="item-tilte-index-header" style="background-color: orange">Time</div>
            </div>
        </div>
        <div class="overflow-auto admin-report-body">
            {% for report in reportInfor %}
                <div class="item-report-from-user" id="reported_post_id_{{ report.id }}">
                    <div class="report-id">{{ report.id }}</div>
                    <div class="block-user-send-report">
                        <div class="avatar-user-send-report">
                            <img src="{{ asset(image_dir ~ report.user_send_report_avatar) }}" alt="avatar">
                        </div>
                        <div class="fullname-user-send-report">{{ report.user_send_report_name }}</div>
                    </div>
                    <div class="block-user-reported">
                        <div class="avatar-user-reported">
                            <img src="{{ asset(image_dir ~ report.user_reported_avatar) }}" alt="avatar">
                        </div>
                        <div class="fullname-user-reported">{{ report.user_reported_name }}</div>
                    </div>
                    <div class="time-reported">{{ report.report_time }}</div>
                    <button class="btn btn-success btn-get-report-detail" data-report-id="{{ report.id }}">Check</button>
                    <input id="open_report_table" type="hidden" data-bs-toggle="modal" data-bs-target="#reprot_detail_table">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}